.search{
    padding-bottom: 30px;
}
            .item{
                display: flex;
            }
                .item h3{
                    font-size: 14px;
                    font-weight: normal;
                }
            .page{
                display: flex;
                justify-content: flex-end;
            }
            .item_title{
                border-bottom: 1px solid #999;
            }
            th{
                color: #111;
                padding: 5px 10px;
            }
            td{
                color: #111;
                padding: 5px 10px;
            }
                .id{
                    width: 75px;
                }
                .name{
                    width: 150px;
                }
                .gender{
                    width: 75px;
                }
                .age{
                    width: 100px;
                }
                .feedback{
                    width: 350px
                }

    .button{
        display: flex;
    }
